{% load static %}

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Administrador</title>
        <link rel="stylesheet" href="/static/Styles/Admin.css">
    </head>
    <body>
        <header>
        <!-- Barra de navegacón-->

        </header>

        <section class="seccion_administrar">
            
            <!-- Lista de elementos -->
            <h1 class="txt_blanco">Listar productos</h1>
            <div class="recuadro_listar">
            
                
                <!-- Item -->

                {% for p in productos %}
                    <div class="producto">
                        <h3 class="titulo_producto">{{p.nombre}}</h3>
                        <h4 class="precio_producto">${{p.precio}}</h4>

                        <a href="">
                        <button  class="btn_producto posicion_editar">Editar</button>
                        </a>

                        <a href="eliminar_producto/{{p.id_prod}}">
                            <button  class="btn_producto posicion_eliminar">Eliminar</button>
                        </a>
                    </div>
                {% endfor %}

            </div> 
        </section>

        <!-- formulario -->

        <!--/agregar_producto/-->

        <br><br>
        <div class="seccion_administrar">
            <h1>Agregar Producto</h1>
            <form action="agregar_producto" method="POST"> {%csrf_token%}
                <input type="text" id="txt_nombre" name="txt_nombre" class="control-form" placeholder="NOMBRE" required><br><br>
                <input type="text" id="txt_precio" name="txt_precio" class="control-form" placeholder="PRECIO" required><br><br>
                <select id="categ" name="categ">
                    {% for c in categorias %}

                    <option value="{{c.cod_categ}}">{{c.nom_categ}}</option>

                    {% endfor %}

                </select><br><br>
                <input type="text" id="txt_stock" name="txt_stock" class="control-form" placeholder="STOCK" required><br><br>
                <textarea id="txt_desc" name="txt_desc" class="control-form txt_area_grande" placeholder="DESCRIPCION"></textarea><br><br>
                <!--input id="archivo_img" type="file" name="archivo_img" accept="image/" required><br><br-->
                <button type="submit">Agregar</button>
            </form>
        </div>

        <br><br>
        <script src="static/scripts/admin.js"></script>
    </body>
</html>