{% load static %}

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Administrador</title>
        <link rel="stylesheet" href="/static/Styles/Admin.css">
    </head>
    <body onload="">
        <header>
        <!-- Barra de navegacón-->

        </header>

        <section class="seccion_administrar">
            
            <!-- Lista de elementos -->
            <h1>Listar productos</h1>
            <div class="recuadro_listar">
            
                
                <!-- Item -->

                {% for p in productos %}
                    <div class="producto">
                        <h3 class="titulo_producto">{{p.nombre}}</h3>
                        <h4 class="precio_producto">${{p.precio}}</h4>

                        <a href="editar_producto/{{p.id_prod}}">
                        <button  class="btn_producto posicion_editar">Editar</button>
                        </a>

                        <a href="eliminar_producto/{{p.id_prod}}">
                            <button  class="btn_producto posicion_eliminar">Eliminar</button>
                        </a>
                    </div>
                {% endfor %}

            </div> 
            <label>Filtrar por: </label>
            {% for c in categorias %}
                {#Categoria entrante deshabilitada#}
                {% if c.cod_categ == cod_categoria %}
                    {% if c.cod_categ == "NULO"%}
                        <a href="/administrador/{{c.cod_categ}}">
                            <button disabled>Todos</button>
                        </a>
                    {% else%}
                        <a href="/administrador/{{c.cod_categ}}">
                            <button disabled>{{c.nom_categ}}</button>
                        </a>
                    {% endif %}

                {#Categoria elegible#}
                {% elif c.cod_categ != cod_categoria%}
                    {% if c.cod_categ == "NULO"%}
                        <a href="/administrador/{{c.cod_categ}}">
                            <button>Todos</button>
                        </a>
                    {% else%}
                        <a href="/administrador/{{c.cod_categ}}">
                            <button>{{c.nom_categ}}</button>
                        </a>
                    {% endif %}
                
                {% endif %}
            {% endfor %}
            
        </section>

        <!--/agregar_producto/-->

        <br><br>
        <div class="seccion_administrar">
            <h1>Agregar Producto</h1>
            <form action="agregar_producto" method="POST"> {%csrf_token%}
                <label>Nombre</label><br>
                <input type="text" id="txt_nombre" name="txt_nombre" class="control-form" onchange="habil_aceptar()" value="" required>
                <text id="error_nombre" class="c_rojo"></text><br><br>

                <label>Precio</label><br>
                <input type="text" id="txt_precio" name="txt_precio" class="control-form" onchange="habil_aceptar()" value ="" required>
                <text id="error_precio" class="c_rojo"></text><br><br>

                <label>Categoria</label><br>
                <select id="categ" name="categ">
                    {% for c in categorias %}
                        {% if c.cod_categ == "NULO" %}
                        <option value="{{c.cod_categ}}" selected>{{c.nom_categ}}</option>
                        {% else %}
                        <option value="{{c.cod_categ}}">{{c.nom_categ}}</option>
                        {% endif %}
                    {% endfor %}
                </select><br><br>

                <label>Stock</label><br>
                <input type="text" id="txt_stock" name="txt_stock" class="control-form" onchange="habil_aceptar()" required>
                <text id="error_stock" class="c_rojo"></text><br><br>

                <label>Descripción</label><br>
                <textarea id="txt_desc" name="txt_desc" class="control-form txt_area_grande" ></textarea><br><br>
                <!--input id="archivo_img" type="file" name="archivo_img" accept="image/" required><br><br-->
                <button id="btn_agregar" type="submit" disabled>Agregar</button>
            </form>
        </div>

        <br><br>
        <script src="/static/scripts/admin.js"></script>
    </body>
</html>