{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pagina Principal</title>
        <link rel="stylesheet" href="static/Styles/Global.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
          .card-body .btn-primary {
              width: 100%; 
          }
      </style></head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" margin="90">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="static/imagenes/SoftCoffee.png" alt="Logo" width="80" height="80" class="d-inline-block align-text-top">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="lobby">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Productos">productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="carta">carta</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="ofertas">ofertas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="nosotros">acerca de nosotros</a>
                  </li>
                </ul>
              </div>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">buscar</button>
             </form>
            </div>
        </nav>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="card" >
                <img src="static/imagenes/productos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Productos</h5>
                  <p class="card-text"> Para que puedas visualizar nuestro catalogo de productos, haz click aqui</p>
                  <a href="/Productos" class="btn btn-primary">Entrar</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" >
                <img src="static/imagenes/maquinaCafe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ofertas</h5>
                  <p class="card-text">Si deseas encontrar algun producto que se encuentre en, haz click aqui</p>
                  <a href="/ofertas" class="btn btn-primary">Entrar</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" >
                <img src="static/imagenes/acercaDe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Acerca de nosotros</h5>
                  <p class="card-text">si quieres conocer mas acerca de nosotros y nuestro emprendimiento, haz click aqui</p>
                  <a href="/nosotros" class="btn btn-primary">Entrar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="container">
          <div class="header-content container" id="coffee">
            <h1>
              El Cafe
            </h1>
            <br>
            <p>
              El cafe es una bebida compuesta por granos provenientes del cafeto, la planta del cafe. El grano suele estar dividido en 2 grupos
              los arabicos y los robustos ¿de que se diferencian estos dos?, El arabico se caracteriza por su sabor menos amargo y con toques frutales, pero contando con mayor acidez, a la vez de que
              si notamos el grano este es mas aplastado, alargado y la,linea que lo atraviesa toma una forma curva, simulando una S.
              el robusto se caracteriza por ser un producto mas amargo y con mas impacto al paladar, pero al contrario con el arabico este contiene menor porcentaje de acidez y al contrario del arabico el grano es mas redondo
              y la linea que lo atraviesa es recta.

            </p>
            <img  class="img-thumbnail mx-auto d-block w-50" src="static/imagenes/cafe.jpg"   alt="">
          </div>
          <br>
          <div class="header-content container" id="coffee">
            <h1>
              Preparaciones 
            </h1>
            <br>
            <p>
              Por lo general nosotros conocemos 2 preparaciones, el cafe americano con azucar y el cafe con leche, sin embargo aqui dejamos las demas preparaciones que puedes encontrar con esta bebida: <br>
              1-capuccino: esta bebida se caracteriza por su preparacion y sabor, este se prepara con un expresso y el doble de leche, dejandolo no con un sabor fuerte y apto para personas que no les gusta los sabores fuertes <br> 
              2-mokaccino: esta bebida consta de 3 ingredientes: cafe, chocolate y azucar, ideal para las personas que quieren provar algo distinto y que no opaca el sabor del cafe <br>
              3-capuccino avainillado: esta opcion es conciderada la favorita de muchos debido a su sabor dulce debido a la vainilla, si no estas acostumbrado a tomar cafe, es una buena opcion <br>
              4-expresso doble: como su nombre lo indica, su medida es de 2 tazas de expresso, su sabor es fuerte, pero agradable para las personas que les gusta los sabores fuertes <br>
              5-americano: Esta preparacion se jacta por tener el doble de agua que de expresso. <br>
              6-macchiatto: esta preparacion contiene mayor cantidad de cafe que de leche, tambien conocido en España como cafe cortado. <br>
              7-latte: es una bebida que se compone de 1 o 2 shots de cafe expresso y leche al vapor con una fina capa de espuma. <br>
              8-Frapuccino:lo unico que diferencia a las preparaciones antes mencionadas es que se trata de una version fria de todo lo que puedes encontrar. <br>


            </p>
            <img class="img-thumbnail mx-auto d-block w-50 " src="static/imagenes/fondo.jpg"  alt="">
          </div>
          <br>
          <div class="header-content container" id="coffee">
            <h1>
              Las maquinas de cafe
            </h1>
            <br>
            <p>Las maquinas son una herramienta esencial para la creacion del cafe, en este caso vamos a nombrar algunas de ellas:
              <br>
              1. maquina de expresso: Esta maquina se encuentran en todas las tiendas, es la principal responsable de la elaboracion del expresso <br>
              2. maquina de americano: Esta maquina es accesible para todo aquel que quiera un cafe mas aguado, en este caso se encarga de la elaboracion del cafe americano <br>
              3. maquina de cafe encapsulado: Este tipo de maquinas son las mas accesibles si quieres una experiencia similar mas no igual a un cafe de grano, en este case se coloca en una capsula cualquier tipo de cafe con saborizantes y con el agua a la temperatura adecuada 
            </p>
            <img class="img-thumbnail mx-auto d-block w-50" src="static/imagenes/maquinaCafe.jpg"  alt="">
          </div>
        </div>
        
        
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
    
</html>
