{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <form class="container">
        <h2 class="text-align">Reservas aqui!</h2>
        <p>Si quiere reservar, porfavor ingrese sus datos primero</p>
        <div>
            <h6>Nombre</h6>
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
            <br>
            <h6>correo</h6>
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
            <br>
            <h6>telefono</h6>
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
            <br>
            <p>despues de rellenar el formulario presione aqui</p>
            <button type="button" class="btn btn-primary">Siguiente</button>
        </div>
        
    </form>
</body>
</html>