body{
    background-color: rgb(255, 234, 234);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bg_gris{
    background-color: #6d6d6d;
}

.txt_blanco{
    color: #ffffff;
}


#seccion_administrar{
    width: 80vw;
    height: 200px;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}


#recuadro_listar{
    border: solid 1px #000000;
    background-color: #c3c3c3;
    overflow-y: scroll;
}

.contenedor_item{
    width: 100%;
    display: grid;
    grid-template-columns: 5% 30% 20% 10%;
    row-gap: 0px;
}

.item{
    border: 1px solid rgba(163, 161, 161, 0.8);
    padding: 2px 3px;
    font-size: 15px;
    text-align:left;
}

