body{
    background-color: #dcdcdc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Pequeñas correcciones */
.bg_gris{
    background-color: #6d6d6d;
}

.txt_blanco{
    color: #ffffff;
}

.txt_area_grande{
    height: 75px;
    width: 400px;
}


/* Id y clases */

.seccion_administrar{
    color: #000000;
    width: 80vw;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.recuadro_listar{
    border: solid 1px #000000;
    background-color: hsl(0, 0%, 76%);
    height: 200px;
    overflow-y: scroll;
}

.contenedor_item_admin{
    width: 100%;
    display: grid;
    grid-template-columns: 5% auto auto auto auto auto;
    row-gap: 0px;
}

.item_admin{
    border: 1px solid rgba(163, 161, 161, 0.8);
    padding: 2px 3px;
    font-size: 15px;
    text-align:right;
}