h1{
    color: red;
}

img-pequenna{
    border-radius: 50%;
}

.btn-generico{
    height: 30px;
    width: 50px;

}

body{
    font-family: Arial, Helvetica;
    background: #e8e8e8;
}
/* 
zona de productos
*/

.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;

}

.contenedor .contenedor-items{
    margin-top: 30px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row: 30px;
    width: 100%;

}

.contenedor .contenedor-items .item{
    max-width: 200px;
    padding:10px;
    margin:auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding:20px;
    transition:.3s;
}
.contenedor-items .item .img-item:hover{
    box-shadow:0 0 10px #666;
    scale: 1.05;
}

.contenedor-items .item .img-item{
    width: 100%;
}

.contenedor .contenedor-items .titulo-item{
    display:block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor-items .item .precio{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size:22px;
}
.contenedor-items .item .boton{
    display: block;
    margin:10px auto;
    border:none;
    background: black;
    color:#fff;
    padding:5px 15px;
    border-radius: 5px;
    cursor: pointer;

}